//! HIDE OR SHOW
.hide {
    display: none;
}

//! FONT-STYLE
.boldita {
    font-weight: 900;
    font-style: italic;
}

//! POSITIONS
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}